name: scp files
on: [push]
jobs:
  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@master
    - name: copy file via ssh password
      uses: appleboy/scp-action@master
      with:
        host: ${{ secrets.SSH_HOST }}
        username: ${{ secrets.SSH_USER }}
        port: ${{ secrets.SSH_PORT }}
        source: public/.
        target: ${{ secrets.SSH_DIR }}
        key: ${{ secrets.SSH_KEY }}
    - name: Move directory
      run: |
        rm -rf ${{ secrets.SSH_DIR }}/mrhavens.co-old 2> /dev/null
        mv ${{ secrets.SSH_DIR }}/mrhavens.co ${{ secrets.SSH_DIR}}/mrhavens.co-old
        mv ${{ secrets.SSH_DIR }}/public ${{ secrets.SSH_DIR }}/mrhavens.co
